h1 {
  color: blue;

  span {
    color: red;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

canvas {
  max-width: 600px;
  margin: 20px 0;
}
